node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.vscode
# macOS
.DS_Store
player2/node_modules
player2/.vscode
player2/.expo
# Ignora a pasta com os módulos do React Native